<div style="width: 70%; padding: 1em; margin: 1em auto">
    <h2 style="text-align: center;">Bienvenido a la página del curso</h2>
    <p style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae reprehenderit ad velit odit neque alias a sequi nisi earum reiciendis, adipisci non consequuntur, pariatur necessitatibus esse, autem expedita. Sit, doloribus?</p>
    <img src="http://placedog.net/300/200" alt="doggo" style="margin: 0 auto; display: block;">
</div>
