<h1 [class]="color">Bienvenido al {{nombreApp}}</h1>
<hr>
<p>Mi nombre es {{miNombre}}</p>
<p>Trabajo en {{nombreTrabajo}} y mi cargo es {{cargo}}</p>
<hr>
<p>En este curso veremos:</p>
<p (click)="show = !show">ver</p>
<ul *ngIf="show">
    <li *ngFor="let unidad of unidades">
        {{unidad.numero}}: {{unidad.nombre}}
    </li>
</ul>


<button (click)="sumarValor()">Sumar 1</button>
<h2>{{valor}}</h2>

<button (click)="aumentar()">+</button>
<button (click)="disminuir()">-</button>
<p [style.font-size.px]="size">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium dolorum iste culpa assumenda omnis cumque rem, necessitatibus veniam, eligendi optio aliquid illo excepturi, illum nihil? Assumenda quaerat officia eius nisi.</p>
<app-saludo></app-saludo>
<hr>
<app-tipo-de-cambio></app-tipo-de-cambio>